target/
!.mvn/wrapper/maven-wrapper.jar

### FEATURES GENERATION ###
src/test/features/hiptest-publisher.config
src/test/features/update_features.bat

### versions-maven-pugin ###
*.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
